{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "jest": true,
    "node": true,
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "arrow-parens": ["error", "always"],
    "arrow-spacing": ["error", {
      "before": true,
      "after": true
    }]
  }
}
